circle {
    stroke: #333;
    stroke-opacity: 0.7;
}

.container {
    padding-top: 5rem;
}

.btns {
    display: flex;
    align-items: center;
}

button {
    margin: 10px;
}

#slider-div {
    width: 250px;
    margin: 10px;
}

.form-control {
    width: 150px;
    margin: 10px;
}

#chart-area {
    position: relative;
    margin: 2rem auto;
}

div.tooltip {
    position: absolute;
    padding: 10px;
    min-width: 160px;
    font: 12px sans-serif;
    background: #fff;
    border: 0px;
    border-radius: 10px;
    pointer-events: none;
    border: 1px solid #000;
}

.tooltip .value {
    text-transform: capitalize;
}
